
.panel-green{
    background-color: rgb(128, 183, 228);
}


input.txt{
     border: 1px solid rgb(215, 218, 223);
     padding: 1em;
     width: 80%;
     margin-bottom: 2em ;

}



input.btn{
     border: 0;
     padding: 1em 3em;
     background:  #42A5F5;
     color: #fff;
     margin-bottom: 1em;
     text-align: center;
     cursor:pointer;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #42A5F5;
    color: white;
    text-align: center;
}